@{
    ViewBag.Title = "Wiek";
    Layout = "_Layout";
}
<h1>@ViewBag.Title</h1>
<h2>Ile bedziesz miał lat w przyszłości:@ViewBag.Result</h2>
<p></p>
<h2>Wynik obliczeń: @ViewBag.future -@ViewBag.birth = @ViewBag.Result</h2>

