@model Birth

<form action="Result" method="POST">
    <label for="name">Imię:</label>
    <input type="text" name="Name" required />

    <label for="dateOfBirth">Data urodzenia:</label>
    <input type="date" name="DateOfBirth" required />

    <button type="submit">Sprawdź wiek</button>
</form>